@page
@using Locompro.Services.Auth
@inject IAuthService AuthService
@model Locompro.Pages.Account.ShoppingListModel
@{
    ViewData["Title"] = "Shopping List";
}

<h1>Shopping List</h1>

@if (Model.ShoppingList != null)
{
    <ul>
        @foreach (var shoppingListProduct in Model.ShoppingList.ShoppingListProducts)
        {
            <li>@shoppingListProduct.Product.Name</li>
        }
    </ul>
}
else
{
    <p>No shopping list available.</p>
}

