.spacer {
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thread-list {
  list-style: none;
  padding: 10px;
  width: 100%;
}

.thread-list .thread {
  display: table;
  height: 35px;
  width: 100%;
  padding: 2px;
}

.thread span.icon {
  float: right;
  font-size: 20px;
}

.thread span.icon a:hover {
  opacity: 1;
}

.icon a, .icon a:focus {
  text-decoration: none;
  color: #000;
  padding: 0 2px;
  opacity: 0.2;
}

.icon .flag.active {
  color: red;
}

.thread .time {
  font-weight: bold;
  padding: 0 10px;
  width: 68px;
  font-size: 12px;
  display: inline-block;
}

.thread .title {
  padding: 2px 5px;
  font-size: 18px;
}

.thread:hover {
  font-weight: bold;
  background: rgba(70,163,230,0.2);
}

.thread-list-head {
  width: 100%;
  padding-top: 10px;
}

.thread-list-head .thread-pages {
  float: right;
}

.thread-pages {
  padding: 0;
  margin: 0;
}

.thread-pages .pagination {
  margin: 0;
  padding: 0;
}

.badge {
  border-radius: 50%;
  padding: 5px;
  background: rgb(255,94,3);
  font-size: 10px;
  min-width: 10px;
}

