@using Locompro.Common
@using Locompro.Models.Entities
@using Locompro.Services.Auth

@inject IUserManagerService UserManagerService
@inject IAuthService AuthService
@{
    var currentPage = Context.Request.Path.Value;
    var isLoggedIn = AuthService.IsLoggedIn();
    var userId = AuthService.GetUserId();
    var isModerator = false;
    User user = null;
    if (isLoggedIn)
    {
        user = await UserManagerService.FindByIdAsync(userId);
        isModerator = false;
    }
    if (user != null)
    {
        isModerator = await UserManagerService.IsInRoleAsync(user, RoleNames.Moderator);
    }
}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    @await RenderSectionAsync("Head", false)
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LoCoMPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="~/assets/css/Animated-Menu-Icon.css">
    <link rel="stylesheet" href="~/assets/css/Articles-Cards-images.css">
    <link rel="stylesheet" href="~/assets/css/Bootstrap-4---Payment-Form.css">
    <link rel="stylesheet" href="~/assets/css/Bootstrap-4---Product-List.css">
    <link rel="stylesheet" href="~/assets/css/Burger-Menu-burger.min.css">
    <link rel="stylesheet" href="~/assets/css/Burger-Menu.css">
    <link rel="stylesheet" href="~/assets/css/Contact-FormModal-Contact-Form-with-Google-Map.css">
    <link rel="stylesheet" href="~/assets/css/Forum---Thread-listing-forum.css">
    <link rel="stylesheet" href="~/assets/css/Forum---Thread-listing.css">
    <link rel="stylesheet" href="~/assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="~/assets/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="~/assets/css/Mega-Menu-Dropdown-100-Editable---Ambrodu.css">
    <link rel="stylesheet" href="~/assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="~/assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="~/assets/css/Responsive-Form-Contact-Form-Clean.css">
    <link rel="stylesheet" href="~/assets/css/Responsive-Form.css">
    <link rel="stylesheet" href="~/assets/css/Stats-icons.css">
    <link rel="stylesheet" href="~/assets/css/Table-With-Search-search-table.css">
    <link rel="stylesheet" href="~/assets/css/Table-With-Search.css">
    <link rel="stylesheet" href="~/assets/css/select2.min.css"/>
    <link rel="stylesheet" href="~/assets/css/select2-bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/custom-select2-styles.css"/>
    <div id="isLoggedIn" data="@Html.Raw(isLoggedIn)" style="display: none;"></div>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 justify-content-center">
        <div class="container d-flex w-100">
            <div class="col">
                <!-- Left side buttons for logged in users -->
                @if (isLoggedIn)
                {
                    <div class="d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item me-2">
                                <a id="CreateSubmissionButton" class="btn btn-primary ps-4 pe-4 rounded-pill" role="button" asp-page="/Submissions/Create">
                                    <i class="fa fa-plus" style="margin-right: 8px;"></i>Aportar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary ps-4 pe-4 rounded-pill" role="button" asp-page="/SearchResults/Contributions" asp-route-query="@userId">
                                    Mis Contribuciones
                                </a>
                            </li>
                            @if (isModerator)
                            {
                                <li class="nav-item">
                                    <a id="ProfileButton" class="btn btn-primary ps-4 pe-4 rounded-pill" role="button" asp-page="/Moderation/Moderator">
                                       <i class="fa fa-gavel"></i> Moderar
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>

            <div class="col text-center">
                <!-- Title, shown unless on the main menu -->
                @if (!currentPage!.EndsWith("/"))
                {
                    <a id="IndexButton" class="navbar-brand" asp-area="" asp-page="/Index">LoCoMPro</a>
                }
            </div>
    
            <div class="col">
                <!-- Right side buttons -->
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav">
                        @if (isLoggedIn)
                        {
                            <li class="nav-item" style="margin-right: 10px">
                                <a class="btn btn-primary ps-4 pe-4 rounded-pill" role="button" asp-page="/Account/Profile">
                                    <i class="fa fa-user"></i>  Perfil
                                </a>
                            </li>
                            <form asp-page="/Account/Logout" method="post" class="d-inline-block">
                                <button id="LogoutButton" type="submit" class="btn btn-primary ps-4 pe-4 rounded-pill">Cerrar sesión</button>
                            </form>
                        }
                        else
                        {
                            @if (currentPage != "/Account/Login")
                            {
                                <a id="LoginButton" class="btn btn-primary" role="button" asp-page="/Account/Login">Iniciar sesión</a>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</header>
<div class="container" style="margin-bottom: 200px;padding-right:0; padding-left:0">
    <main>
        @RenderBody()
    </main>
</div>

<footer class="text-center py-4 border-top footer text-muted"
        style="position: absolute; bottom: 0; width: 100%;">
    <div class="container">
        Copyright &copy; 2023 LoCoMPro
    </div>
    <div class="container">
        <ul class="list-inline my-2">
            <li class="list-inline-item">
                <a class="link-secondary" asp-page="Privacy">Política de privacidad</a>
            </li>
            <li class="list-inline-item">
                <a class="link-secondary" href="#">Terminos y condiciones</a>
            </li>
        </ul>
    </div>
</footer>

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/select2.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<partial name="_ValidationScriptsPartial"/>

@await RenderSectionAsync("Scripts", false)
</body>
</html>