@using Locompro.Models

@{
    var provinces = ViewData["Provinces"] as IEnumerable<Province>;
}

<div class="row d-flex justify-content-center">
    <div class="col-md-6 col-xl-4" style="margin-top: 20px;">
        <div class="card mb-5">
            <div class="card-body d-flex flex-column align-items-center" style="padding-bottom: 50px;">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                    <i class="material-icons" style="font-size: 40px;">store</i>
                </div>
                <form class="text-center" method="post">
                    <div class="mb-3">
                        <fieldset>
                            <legend style="padding-bottom: 0px;margin-bottom: 20px;">Agregar Tienda</legend>
                        </fieldset><label class="form-label d-lg-flex justify-content-lg-start">Nombre de la tienda</label><input class="form-control" type="email" name="Name" placeholder="Nombre">
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-lg-flex justify-content-lg-start">Provincia</label>
                        <select class="form-select" style="font-family:Roboto, sans-serif;" name="Province" onchange="updateCantonDropdown()">
                            <optgroup label="Provincia">
                                @foreach (var province in provinces)
                                {
                                    <option value="@province.Name">@province.Name</option>
                                }
                            </optgroup>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-lg-flex justify-content-lg-start">Cantón</label>
                        <select class="form-select" style="font-family:Roboto, sans-serif;" name="Canton">
                            <optgroup label="Cantón">
                                <!-- Options will be dynamically populated here -->
                            </optgroup>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-lg-flex justify-content-lg-start">Teléfono</label><input class="form-control" type="email" name="Telephone" placeholder="Teléfono">
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-lg-flex justify-content-lg-start">Dirección</label><textarea class="form-control" name="Address" style="margin-bottom: 0px;padding-bottom: 94px;"></textarea>
                    </div><a class="btn btn-primary d-block w-100" role="button" href="sign-in.html">Agregar tienda</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const provinces = {
            @foreach (var province in provinces)
            {
                @: "\"" + @province.Name + "\": ["
                @foreach (var canton in province.Cantons)
                {
                    @: "\"" + @canton.Name + "\","
                }
                @: "],"
            }
        };
    
    // Function to update the canton dropdown
        function updateCantonDropdown() {
            const selectedProvince = document.querySelector("[name='Province']").value;
            const cantonDropdown = document.querySelector("[name='Canton']");
            
            // Clear existing options
            cantonDropdown.innerHTML = "";
            
            // Populate canton dropdown based on selected province
            if (selectedProvince && provinces[selectedProvince]) {
                provinces[selectedProvince].forEach(canton => {
                    const option = document.createElement("option");
                    option.value = canton;
                    option.text = canton;
                    cantonDropdown.add(option);
                });
            }
        }
</script>
