@using Locompro.Pages.Modals.AdvancedSearch;
@using Locompro.Services;
@model AdvancedSearchModalModel;

<link rel="stylesheet" href="~/css/AdvancedSearchModal.css" asp-append-version="true"/>

<div class="container advanced-search-modal-container">
    <div class="advanced-search-modal-secondary-container">
        <div class="advanced-search-modal-card">
            <div class="row d-xl-flex justify-content-xxl-center advanced-search-modal-card-contents">
                <div class="col-xxl-4 row">
                    <div class="col-xxl province-input-container">
                        <label class="form-label d-lg-flex justify-content-xxl-center">Provincia</label>
                        <select class="form-select"
                                type="submit"
                                onchange="loadProvince(this)"
                                style="font-family: Roboto, sans-serif;"
                                name=province
                                id="provinceDropdown">
                            <option>Ninguno</option>
                            @foreach (var provincia in Model.provinces)
                            {
                                <option>@provincia.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-xxl canton-input-container">
                        <label class="form-label d-lg-flex justify-content-xxl-center">Cantón</label>
                        <select class="form-select"
                                style="font-family: Roboto, sans-serif;padding-right: 10px;margin-right: 0px;"
                                name=canton
                                id="cantonDropdown">
                            <option>Ninguno</option>
                        </select>
                    </div>
                </div>
                <!--
                 -->
                <div class="col-xxl-4 row">
                    <div class="col-xxl mb-3 minValue-input-container">
                        <label class="form-label d-lg-flex justify-content-xxl-center">Precio Mínimo</label>
                        <input class="form-control"
                               min=1
                               type="number"
                               id="minValue"
                               onchange="validatePriceInput(this)"
                               value=0>
                    </div>
                    <div class="col-xxl mb-3 maxValue-input-container">
                        <label class="form-label d-lg-flex justify-content-xxl-center">Precio máximo</label>
                        <input class="form-control"
                               min=0
                               type="number"
                               id="maxValue"
                               onchange="validatePriceInput(this)"
                               value=0>
                    </div>
                </div>
                <div class="col-xxl mb-3 d-none category-input-container">
                    <label class="form-label d-lg-flex justify-content-lg-start">Categoría</label>
                    <select class="form-select category-input"
                            id="categoryDropdown">
                        <option>Ninguno</option>
                        @foreach (var category in Model.categories)
                        {
                            <option>@category.Name</option>
                        }
                    </select>
                </div>
                <div class="col-xxl mb-3 brand-input-container"
                     style="margin-left: 5px; margin-right: 5px">
                    <label class="form-label d-lg-flex justify-content-xxl-center">Marca</label>
                    <input class="form-control"
                           type="text"
                           id="brandInput"
                           value="">
                </div>
                <div class="col-xxl mb-3 model-input-container"
                     style="margin-left: 5px; margin-right: 5px">
                    <label class="form-label d-lg-flex justify-content-xxl-center">Modelo</label>
                    <input class="form-control"
                           type="text"
                           id="modelInput"
                           value="">
                </div>
            </div>
        </div>
    </div>
</div>