@using Microsoft.AspNetCore.Identity
@using Locompro.Data
@using Locompro.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var currentPage = Context.Request.Path.Value;
    bool isLoggedIn = SignInManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LoCoMPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Locompro.styles.css" asp-append-version="true" />

    <!-- for the plus sign  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <!-- if the current site is not the main menu  -->
                @if (!currentPage.EndsWith("/"))
                {
                    // show the title
                    <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Index">LoCoMPro</a>
                }
                
                <!-- if logged in  -->
                @if(isLoggedIn)
                {
                    <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="btn btn-primary ps-4 pe-4 rounded-pill" role="button" asp-page="/Submissions/Create">
                                    <i class="fa fa-plus" style="margin-right: 8px;">
                                    </i>
                                    Aportar
                                </a>
                            </li>
                            <li class="nav-item"></li>
                        </ul>
                        <div class="d-md-none my-2">
                            <button class="btn btn-light me-2" type="button">Button</button>
                            <button class="btn btn-primary" type="button">Button</button>
                        </div>
                    </div>
                    <div class="d-none d-md-block">
                        <button class="btn btn-light me-2" type="button">Mi perfil</button>
                        <a class="btn btn-primary" role="button" href="#">Cerrar sesión</a>
                    </div>
                }
                else // if not logged in
                {
                    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3">
                        <span class="visually-hidden">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navcol-3">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item"></li>
                            <li class="nav-item"></li>
                            <li class="nav-item"></li>
                        </ul>
                        <a class="btn btn-primary" role="button" asp-area="Identity" asp-page="/Account/Login">Iniciar sesión</a>
                    </div>
                }
 
            </div>
        </nav>
    </header>
    <div class="container" style="margin-bottom: 200px;padding-right:0px; padding-left:0px">
        <main role="main" class="pb-3" style="min-height: calc(100vh-100px)">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center py-4 border-top footer text-muted"
        style="position: absolute; bottom: 0; width: 100%;">
        <div class="container">
            Copyright &copy; 2023 LoCoMPro
        </div>
        <div class="container">
            <ul class="list-inline my-2">
                <li class="list-inline-item"><a class="link-secondary" href="/Privacy">Privacy Policy</a></li>
                <li class="list-inline-item"><a class="link-secondary" href="#">Terms of Use</a></li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>