@{
    var isLoggedIn = User.Identity is {IsAuthenticated: true };
}

<div class="row pt-3">
    <div class="col-md-5">
        <div class="row">
            <!-- First Column, First Row -->
            <div class="col">
                <div class="row card-title">
                    <div class="col-sm" style="display: flex; justify-content: center; align-items: center;">
                        <i class="fa-solid fa-box" style="color: #0a53be; font-size: 33px;"></i>
                    </div>
                    <div class="col">
                        <h3 style="text-align: left; color: #333;">Producto</h3>
                        <h5 id="modalProductName" style="opacity: 0.6;"></h5>
                    </div>
                </div>
            </div>

            <!-- Second Column, First Row -->
            <div class="col">
                <!-- Structure for the second cell, similar to the first one -->
                <div class="row card-title">
                    <div class="col-sm" style="display: flex; justify-content: center; align-items: center;">
                        <i class="fa fa-shopping-cart" style="color: #0a53be; font-size: 33px;"></i>
                    </div>
                    <div class="col">
                        <h3 style="text-align: left; color: #333;">Tienda</h3>
                        <h5 id="modalStoreName" style="opacity: 0.6;"></h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- First Column, Second Row -->
            <div class="col">
                <!-- Structure for the third cell, similar to the first one -->
                <div class="row card-title">
                    <div class="col-sm" style="display: flex; justify-content: center; align-items: center;">
                        <i class="fa fa-certificate" style="color: #0a53be; font-size: 33px;"></i>
                    </div>
                    <div class="col">
                        <h3 style="text-align: left; color: #333;">Modelo</h3>
                        <h5 id="modalModel" style="opacity: 0.6;"></h5>
                    </div>
                </div>
            </div>

            <!-- Second Column, Second Row -->
            <div class="col">
                <!-- Structure for the fourth cell, similar to the first one -->
                <div class="row card-title">
                    <div class="col-sm" style="display: flex; justify-content: center; align-items: center;">
                        <i class="fa fa-trademark" style="color: #0a53be; font-size: 33px;"></i>
                    </div>
                    <div class="col">
                        <h3 style="text-align: left; color: #333;">Marca</h3>
                        <h5 id="modalBrand" style="opacity: 0.6;"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slideshow-container col" style="width: 100%; max-width: 380px; height: 220px; text-align: center;">
        <a class="prev col"
           style=""
           id="prevButton"
           onclick="window.getPage().plusSlides(-1)">
            &#10094;
        </a>
        <div id="picturesContainer">
        </div>
        <a class="next col"
           onclick="window.getPage().plusSlides(1)"
           id="nextButton">
            &#10095;
        </a>
    </div>
    @if (isLoggedIn)
    {
        <div class="row card-title">
            <h4 class="col-2" style="display: flex; justify-content: center; align-items: center;">
                <i id="bookmarkIcon" class="fa fa-bookmark" style="color: #0a53be; font-size: 33px; margin-bottom: 20px;"></i>
            </h4>
            <div class="col-10">
                <h5 id="iconText" class="col-10" style="margin-top: 5px; display: none;"> ¡Producto agregado a lista de compras!</h5>
            </div>
        </div>
    }
</div>
<div>
    <div id="submissionsModalTableContainer" class="pt-4" data-is-user-authenticated="@isLoggedIn">
        <table id="SubmissionsPerItem" class="display compact mb-0 pe-2" style="width:100%">
            <caption></caption>
            <thead>
            <tr>
                <th>Usuario&nbsp;</th>
                <th class="text-center">Fecha&nbsp;</th>
                <th>Precio&nbsp;</th>
                <th>Descripción&nbsp;</th>
                <th>Calificación</th>
                <th class="text-center">Reportar</th>
            </tr>
            </thead>
            <tbody id="ItemModalSubmissionsTable">
            </tbody>
        </table>
    </div>
    <div class="modal fade no-backdrop-opacity" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 15px; padding: 5px 6px 10px 5px;">
                <div class="modal-header" style="border-bottom: none; padding: 10px 15px;">
                    <h5 class="modal-title" id="descriptionModalLabel" style="flex-grow: 1;">Descripción del reporte</h5>
                </div>
                <div class="modal-body" style="border-top: none; padding: 10px 15px 0px 15px;">
                    <form id="reportForm" method="post" asp-page="/SearchResults/SearchResults" asp-page-handler="ReportSubmission">
                        <div class="form-group">
                            <textarea class="form-control" id="descriptionInput" name="UserReportVm.Description" rows="3"
                                maxlength="140"></textarea>
                            <input type="hidden" name="UserReportVm.SubmissionUserId" value="">
                            <input type="hidden" name="UserReportVm.SubmissionEntryTime" value="">
                        </div>
                        <div class="modal-footer" style="border-top: none; padding: 10px 15px 0px 15px;">
                            <button type="submit" class="btn btn-primary">Reportar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mustBeAuthenticatedModal" tabindex="-1" role="dialog" aria-labelledby="mustBeAuthenticatedModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 15px; padding: 5px 6px 10px 5px;">
                <div class="modal-header" style="border-bottom: none; padding: 10px 15px;">
                    <h5 class="modal-title" id="mustBeAuthenticatedModalTitle" style="flex-grow: 1;">Debes estar identificado para poder calificar aportes</h5>
                </div>
                <div class="modal-footer" style="border-top: none; padding: 10px 15px 0px 15px;">
                    <button role="button" asp-page="Account/Login" class="btn btn-primary" id="mustBeAuthenticatedSignInButton">Iniciar sesión</button>
                </div>
            </div>
        </div>
    </div>
</div>