@page
@model SearchResultsModel
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<link rel="stylesheet" href="~/css/SearchResults.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/ImageDisplay.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/assets/css/select2.min.css"/>
    <link rel="stylesheet" href="~/assets/css/select2-bootstrap.min.css"/>
<link rel="stylesheet" href="~/css/custom-select2-styles.css"/>

<div class="pt-5 search-results-page-container justify-content-center d-flex"
     style="margin-left:0; margin-right:0; width:100%; padding-left: 0; padding-right:0">
    <div class="justify-content-center"
         style="margin-left:0; margin-right:0; width:75%">
        <div id="inputGroup" class="justify-content-center search-input-group">
            <div id="searchBarGroup" class="justify-content-center form-actions input-group search-bar-group-default">
                <div class=" search-box form-control pe-4 rounded-pill input-group">
                    <div class="search-bar-encapsulate">
                        <input type="text"
                               value="@Model.SearchVm.ProductName"
                               class="form-control rounded-pill search-bar"
                               name="query"
                               placeholder="Ingresar nombre de producto"
                               required="required"
                               id="searchBox">
                    </div>
                    <div class="input-group-prepend justify-content-center search-button-inside-search-bar">
                        <button class="btn btn-primary ps-2 pe-2 rounded-pill search-button-circle"
                                role="button"
                                type="submit"
                                onclick="performSearchButton()"
                                id="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <button class="advanced-search-results-base search-results-advanced-search-button-initial btn-primary rounded-pill"
                        id="advancedSearchButton"
                        style="margin-left: 15px; padding-left: 15px; padding-right: 15px"
                        onclick="advancedSearchButtonPressed()"
                        type="button">
                    Búsqueda avanzada
                </button>
            </div>
            <div>
                <div id="modalContainer" class="justify-content-center">
                </div>
            </div>
            <button id="closeModalButton" class="close-modal-button-hidden" onclick="closeModal()"></button>
        </div>
        <div class="search-input-group-on-advanced-search row"
             style="margin-top: 10px; margin-left: 0; padding-left: 20px; padding-right: 20px; margin-right: 0">
            <div class="col align-self-center">
                <button class="advanced-search-results-base search-results-advanced-search-button-initial btn-primary rounded-pill"
                        id="clearFiltersButton"
                        style="padding-left: 10px; padding-right: 10px; padding-top: 7px; padding-bottom: 7px"
                        onclick="window.getPage().clearFilters()"
                        type="button">
                    Limpiar filtros
                </button>
            </div>
            <div class="col">
                <label class="form-label d-lg-flex justify-content-xxl-center">Provincia</label>
                <select class="form-select"
                        type="submit"
                        onChange="window.getPage().applyFilter(this)"
                        style="font-family: Roboto, sans-serif;"
                        id="provinceFilter">
                </select>
            </div>
            <div class="col">
                <label class="form-label d-lg-flex justify-content-xxl-center">Cantón</label>
                <select class="form-select"
                        type="submit"
                        onChange="window.getPage().applyFilter(this)"
                        style="font-family: Roboto, sans-serif;"
                        id="cantonFilter">
                </select>
            </div>
            <div class="col">
                <label class="form-label d-lg-flex justify-content-xxl-center">Precio mínimo</label>
                <input type="number"
                       class="form-control"
                       id="minPriceFilter"
                       onChange="window.getPage().applyFilter(this)">
            </div>
            <div class="col">
                <label class="form-label d-lg-flex justify-content-xxl-center">Precio máximo</label>
                <input type="number"
                       class="form-control"
                       id="maxPriceFilter"
                       onChange="window.getPage().applyFilter(this)">
            </div>
            <div class="col">
                <label class="form-label d-lg-flex justify-content-xxl-center">Categoria</label>
                <select class="form-select"
                        type="submit"
                        onChange="window.getPage().applyFilter(this)"
                        style="font-family: Roboto, sans-serif;"
                        id="categoryFilter">
                </select>
            </div>
            <div class="col">
                <label class="form-label d-lg-flex justify-content-xxl-center">Marca</label>
                <select class="form-select"
                        type="submit"
                        onChange="window.getPage().applyFilter(this)"
                        style="font-family: Roboto, sans-serif;"
                        id="brandFilter">
                </select>
            </div>
            <div class="col">
                <label class="form-label d-lg-flex justify-content-xxl-center">Modelo</label>
                <select class="form-select"
                        type="submit"
                        onChange="window.getPage().applyFilter(this)"
                        style="font-family: Roboto, sans-serif;"
                        id="modelFilter">
                </select>
            </div>
        </div>
        <div class="modal search-results-modal" id="ItemModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content" style="border-radius: 15px; padding-top: 5px; padding-bottom: 10px; padding-left: 8px; padding-right: 6px">
                    <div class="modal-body">
                        @await Html.PartialAsync("_ItemDisplay", Model.SearchVm)
                    </div>
                </div>
            </div>
        </div>
        <!-- Javascript generates card and table -->
        <div id="resultsCard">
        </div>
    </div>
</div>

@section Scripts {  
    <script type="module" src="~/js/SearchResults/search-results.js"></script>
    <script src="~/js/search.js"></script>
    <script src="~/js/SearchResults/search-results-helpers.js"></script>
    <script src="~/js/SearchResults/ItemDetailsModal/search-results-modal.js"></script>
    <script src="~/js/SearchResults/ItemDetailsModal/search-results-picture-container.js"></script>
    <script src="~/js/SearchResults/ItemDetailsModal/search-results-submission-rating.js"></script>
    <script type="module" src="~/js/maps/maps-modal.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.dataTables.min.js"></script>
}