@page
@model Locompro.Pages.Moderation.PriceAnomalies

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <table class="table table-hover search-results-table">
        <thead>
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Confianza</th>
            <th scope="col">Mínimo</th>
            <th scope="col">Máximo</th>
            <th scope="col">Precio promedio</th>
            <th scope="col">Tienda</th>
        </tr>
        </thead>
        <tbody>
            <td>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tbody>
    </table>
</div>
</body>
</html>