.select2-container .select2-selection--single {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    width: 210px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    height: auto !important;
    padding: 0.375rem 0.75rem; /* Keep padding consistent */
}

.select2-container .select2-selection--single .select2-selection__rendered {
    flex: 1;
    text-align: left;
    display: block;
    line-height: 1.5;
    white-space: pre-line; /* This ensures that the content wraps to the next line */
}

.select2-container .select2-selection--single .select2-selection__arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.select2-container .select2-selection--single .select2-selection__clear {
    margin: 0;
    padding-right: 10px;
}

.select2-container .select2-selection--single .select2-selection__placeholder {
    text-align: left;
}

.select2-container--default.select2-container--focus .select2-selection--single {
    border-width: 1px;
    border-color: #ced4da;
    box-shadow: none;
}

.select2-container .select2-results__option {
    text-align: left;
}

.select2-container--default .select2-selection--single {
    border-width: 1px;
    border-color: #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    min-width: 210px;
}

.select2-selection__rendered {
    white-space: normal !important;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    color: #888;
    cursor: pointer;
    position: relative;
    top: -2px;
    margin-right: 10px;
}
