.button-rounded-top {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-left-radius: 0px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 0px; /* Rounded bottom-right corner */
    
    color: black;
    
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.index-modal-advanced-search {
    border-top-left-radius: 0px; /* Rounded top-left corner */
    border-top-right-radius: 0px; /* Rounded top-right corner */
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
}

.modal-advanced-search {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
}

.advanced-search-button {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

.advanced-search-button-in-modal {
    text-align: center;
    justify-content: center;
}

.index-advanced-search-button-initial {
    background-color: #0d6efd;
    color: white;
    
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

    height: 100%;  
    
    border-top-left-radius: 30px; /* Rounded top-left corner */
    border-top-right-radius: 30px; /* Rounded top-right corner */
    border-bottom-left-radius: 30px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 30px; /* Rounded bottom-right corner */
    
    border: 2px solid #0d6efd;
}

.index-advanced-search-button {
    background-color: #0d6efd;
    color: white;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

    height: 100%;

    border-top-left-radius: 30px; /* Rounded top-left corner */
    border-top-right-radius: 30px; /* Rounded top-right corner */
    border-bottom-left-radius: 30px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 30px; /* Rounded bottom-right corner */

    border: 2px solid #0d6efd;
}

.advanced-search-modal-default {

}

.main-page-input-group-on-advanced-search {
    .card;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #b9deff;
    border-width: 2px;
    border-radius: 30px;
    background-color: #b9deff;
}

.search-bar-default {
    max-width: 800px;
    margin: 0 auto;
}

.search-bar-on-advanced-search {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    /*margin: 0 auto; */
}

