.button-rounded-top {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-left-radius: 0px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 0px; /* Rounded bottom-right corner */
    
    color: black;
    
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.index-modal-advanced-search {
    border-top-left-radius: 0px; /* Rounded top-left corner */
    border-top-right-radius: 0px; /* Rounded top-right corner */
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
}

.modal-advanced-search {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
}

.advanced-search-button {
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

.advanced-search-button-in-modal {
    text-align: center;
    justify-content: center;
    height: 10px;
}

.index-advanced-search-button-initial {
    background-color: #0d6efd;
    color: white;
    
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

    height: 100%;  
    
    border-top-left-radius: 30px; /* Rounded top-left corner */
    border-top-right-radius: 30px; /* Rounded top-right corner */
    border-bottom-left-radius: 30px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 30px; /* Rounded bottom-right corner */
    
    border: 2px solid #0d6efd;
}

.index-advanced-search-button-in-modal {
    border: 2px solid #b9deff;
    background-color: #b9deff;
    width: 95%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10px;
    color: white;
}

.index-advanced-search-button {
    background-color: #0d6efd;
    color: white;

    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;

    height: 100%;

    border-top-left-radius: 30px; /* Rounded top-left corner */
    border-top-right-radius: 30px; /* Rounded top-right corner */
    border-bottom-left-radius: 30px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 30px; /* Rounded bottom-right corner */

    border: 2px solid #0d6efd;
}

.advanced-search-modal-default {

}

.main-page-input-group-on-advanced-search {
    .card;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #b9deff;
    border-width: 2px;
    border-radius: 30px;
    background-color: #b9deff;
}

.search-bar-default {
    max-width: 800px;
    margin: 0 auto;
}

.search-bar-on-advanced-search {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    /*margin: 0 auto; */
}

.star {
    position: relative;
    display: inline-block;
    font-size: 24px; /* Adjust the size as needed */
}

.fa-star {
    -webkit-background-clip: text;
    color: transparent;
}

.rating {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust the percentage to control the filled area */
    overflow: hidden;
}

/* Adjust the background color to the color you want for the filled area */
.rating::before {
    content: "\2605"; /* Unicode star character */
    color: gold; /* Filled color */
}

.star-container {
    display: inline-block;
    font-size: 24px;
    background: linear-gradient(90deg, gold 50%, grey 50%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-results-modal {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 30px;
    margin-bottom: 200px;
}