.search-results-page-container {
    margin-bottom: 3px;
    margin-top: -52px;
}

.search-input-group {
    margin: 0 auto;
    margin-right: 0px;
}

.search-input-group-on-advanced-search {
    .card
;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #b9deff;
    border-width: 2px;
    border-radius: 30px;
    background-color: #b9deff;
}

.search-bar-group-default {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.search-bar-group-on-advanced-search {
    padding-left: 15px;
    padding-right: 15px;
}

.search-results-button-rounded-top {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-left-radius: 0px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 0px; /* Rounded bottom-right corner */

    background-color: lightgray;
    border: 2px solid lightgray;
    color: black;

    padding-bottom: 5px;
    padding-top: 5px;
}

.modal-search-results-on-advanced-search {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 20px; /* Rounded bottom-right corner */
    background-color: lightgray;
}

.search-results-advanced-search-button-initial {
    border: 2px solid #0d6efd;
}

.search-bar-encapsulate {
    width: 100%;
    padding-right: 20px;
}

.search-bar {
    margin-left: 0px;
    border: none;
}

.search-button-inside-search-bar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-button-circle {
    height: 30px;
    font-size: 12px;
}

.advanced-search-results-base {
    margin-bottom: 0px;
}

.advanced-search-button-on-modal-shown {
    .col-1
;
    width: 30px;
    background-color: #b9deff;
    border-color: #b9deff;
}

.search-results-card {
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;
}

.table-encapsulate-for-results {
    overflow-y: auto;
}

.search-results-table {
    cursor: pointer;
    align-items: center;
}

.previous-next-button-area {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.number-input-pages {
    bottom: 0;
    height: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 7px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.page-amount-text {
    margin-left: 10px;
    margin-bottom: 0px;
}

.sort-asc::after {
    content: '▲';
    color: #007BFF; /* match the bootstrap primary color, change if needed */
}

.sort-desc::after {
    content: '▼';
    color: #007BFF; /* match the bootstrap primary color, change if needed */
}

.sort-none::after {
    content: '';
}

.no-underline-link {
    text-decoration: none;
}

.close-modal-button-hidden {
    border: 2px solid #b9deff;
    background-color: #b9deff;
    width: 95%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10px;
    color: white;
    display: none;
}

.close-modal-button-shown {
    border: 2px solid #b9deff;
    background-color: #b9deff;
    width: 95%;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 5px;
    color: white;
    display: block;
    margin: 0 auto;
}

.prices-cell {
    text-align: right;
    padding-left: 0px;
' !important;
}

.store-cell {
    padding-left: 30px !important;
}