@inject INamedEntityDomainService<Country, string> CountryService
@using Locompro.Models.Entities
@using Locompro.Services.Domain
@using Newtonsoft.Json
@model Locompro.Models.ViewModels.StoreVm

@{
    var country = await CountryService.Get("Costa Rica");
    var provinces = country.Provinces;

    var settings = new JsonSerializerSettings
    {
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
    };

    var provincesJson = JsonConvert.SerializeObject(provinces, settings);
}

<div class="row d-flex justify-content-center modal-select2">
    <div id="partialStore" class="card-body d-flex flex-column align-items-center" style="padding-bottom: 20px;">
        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
            <i class="material-icons" style="font-size: 40px;">store</i>
        </div>
        <div class="mb-3">
            <fieldset>
                <legend style="padding-bottom: 0;margin-bottom: 20px;">Agregar Tienda</legend>
            </fieldset>
        </div>
        <div class="mb-2">
            <label asp-for="SName" class="form-label d-lg-flex justify-content-lg-start"></label>
            <input asp-for="SName" class="form-control" placeholder="Nombre" id="partialStoreName">
        </div>
        <span class="text-danger field-validation-valid pb-2" id="partialStoreNameValid" asp-validation-for="SName"></span>
        <div class="mb-2">
            <label asp-for="Province" class="form-label d-lg-flex justify-content-lg-start"></label>
            <select asp-for="Province" id="partialStoreProvince"
                    class="form-select" style="font-family:Roboto, sans-serif; min-width: 210px;">
                <option value="" disabled selected hidden>Seleccionar</option>
                @foreach (var province in provinces)
                {
                    <option value="@province.Name">@province.Name</option>
                }
            </select>
        </div>
        <span class="text-danger field-validation-valid pb-2" asp-validation-for="Province"></span>
        <div class="mb-2">
            <label asp-for="Canton" class="form-label d-lg-flex justify-content-lg-start"></label>
            <select asp-for="Canton" id="partialStoreCanton"
                    class="form-select" style="font-family:Roboto, sans-serif; min-width: 210px;">
                <option value="" disabled selected hidden>Seleccionar</option>
                <!-- Options will be dynamically populated here -->
            </select>
        </div>
        <span class="text-danger field-validation-valid pb-2" asp-validation-for="Canton"></span>
        <div class="mb-2">
            <label asp-for="Telephone" class="form-label d-lg-flex justify-content-lg-start"></label>
            <input asp-for="Telephone" class="form-control" placeholder="Teléfono">
        </div>
        <span class="text-danger field-validation-valid pb-2" asp-validation-for="Telephone"></span>
        <div class="mb-2">
            <label class="form-label d-lg-flex justify-content-lg-start">Dirección</label>
            <textarea asp-for="Address" class="form-control" placeholder="Dirección"
                            style="margin-bottom: 0;padding-bottom: 94px;"></textarea>
        </div>
        <span class="text-danger field-validation-valid pb-2" asp-validation-for="Address"></span>
        <div id="StoreModalMap" style="height: 400px; width: 100%;"></div>
            <input type="hidden" asp-for="Latitude" id="latitude">
            <input type="hidden" asp-for="Longitude" id="longitude">
            <input type="hidden" asp-for="MapGeneratedAddress" id="MapGeneratedAddress">
    </div>
</div>

<div id="provincesData" data='@Html.Raw(provincesJson)' style="display: none;"></div>