@inject INamedEntityDomainService<Country, string> CountryService
@using Locompro.Models.Entities
@using Locompro.Services.Domain
@using Newtonsoft.Json
@model Locompro.Models.ViewModels.StoreVm

@{
    var country = await CountryService.Get("Costa Rica");
    var provinces = country.Provinces;

    var settings = new JsonSerializerSettings
    {
        ReferenceLoopHandling = ReferenceLoopHandling.Ignore
    };

    var provincesJson = JsonConvert.SerializeObject(provinces, settings);
}
<!-- Icon centered at the top of the modal -->
<div class="d-flex justify-content-center my-4">
    <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon">
        <i class="material-icons" style="font-size: 40px;">store</i>
    </div>
</div>
<div class="card-body">
    <div class="row justify-content-center">
            <div class="col text-center">
                <fieldset>
                    <legend>Agregar Tienda</legend>
                </fieldset>
            </div>
        </div>

    <div class="row modal-select2">
        <!-- Map Column -->
        <div class="col-md-6">
            <label class="form-label">Ubicación</label>
            <div id="StoreModalMap" class="rounded-modal-map" style="height: 400px;"></div>
            <input type="hidden" asp-for="Latitude" id="latitude">
            <input type="hidden" asp-for="Longitude" id="longitude">
            <input type="hidden" asp-for="MapGeneratedAddress" id="MapGeneratedAddress">
        </div>

        <!-- Form Fields Column -->
        <div class="col-md-6">
            <!-- Form fields here -->
            <div class="mb-2">
                <label asp-for="SName" class="form-label"></label>
                <input asp-for="SName" class="form-control" placeholder="Nombre" id="partialStoreName">
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="SName"></span>
            <div class="mb-2">
                <label asp-for="Province" class="form-label"></label>
                <br/>
                <select asp-for="Province" id="partialStoreProvince" class="form-select">
                    <option value="" disabled selected hidden>Seleccionar</option>
                    @foreach (var province in provinces)
                    {
                        <option value="@province.Name">@province.Name</option>
                    }
                </select>
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="Province"></span>
            <div class="mb-2">
                <label asp-for="Canton" class="form-label"></label>
                <br/>
                <select asp-for="Canton" id="partialStoreCanton" class="form-select">
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <!-- Options will be dynamically populated here -->
                </select>
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="Canton"></span>
            <div class="mb-2">
                <label asp-for="Telephone" class="form-label"></label>
                <input asp-for="Telephone" class="form-control" placeholder="Teléfono">
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="Telephone"></span>
            <div class="mb-2">
                <label class="form-label">Dirección</label>
                <textarea asp-for="Address" class="form-control" placeholder="Dirección"></textarea>
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="Address"></span>
        </div>
    </div>
</div>

<div id="provincesData" data='@Html.Raw(provincesJson)' style="display: none;"></div>