@page
@model Submissions.CreateModel

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Agregar contribución</title>
</head>
<body>
<form class="text-center" method="post">
    <label class="form-label d-lg-flex justify-content-lg-start">Tienda</label>
    <input class="form-control" asp-for="StoreVm.Name" id="mainStoreName">
    <span class="text-danger field-validation-valid" asp-validation-for="StoreVm.Name"></span>

    <!-- Store trigger button -->
    <button type="button" id="showAddStoreBtn" data-bs-toggle="modal" data-bs-target="#addStoreModal">
        Show Add Store
    </button>

    <!-- Store Modal -->
    <div class="modal fade" id="addStoreModal" tabindex="-1" aria-labelledby="addStoreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Your partial view content goes here, without the <form> tags -->
                    @Html.Partial("_AddStore", Model.StoreVm)
                </div>
                <div class="modal-footer">
                    <button type="button" id="hideAddStoreBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="addStoreBtn" class="btn btn-primary">Agregar tienda</button>
                </div>
            </div>
        </div>
    </div>

    <label class="form-label d-lg-flex justify-content-lg-start">Producto</label>
    <input class="form-control" asp-for="ProductVm.Name" id="mainProductName">
    <span class="text-danger field-validation-valid" asp-validation-for="ProductVm.Name"></span>

    <!-- Store trigger button -->
    <button type="button" id="showAddProductBtn" data-bs-toggle="modal" data-bs-target="#addProductModal">
        Show Add Product
    </button>

    <!-- Store Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Your partial view content goes here, without the <form> tags -->
                    @Html.Partial("_AddProduct", Model.ProductVm)
                </div>
                <div class="modal-footer">
                    <button type="button" id="hideAddProductBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="addProductBtn" class="btn btn-primary">Agregar producto</button>
                </div>
            </div>
        </div>
    </div>

    <button type="submit">Submit</button>
</form>
</body>

@section Scripts {
    <script src="~/js/create.js"></script>
}

</html>