@page
@model Submissions.CreateModel

@section Head {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/custom-select2-styles.css"/>

    <title>Agregar contribución</title>
}

<div class="card-body d-flex flex-column align-items-center" style="padding-bottom: 50px;">
    <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bag-fill" style="font-size: 40px;">
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"></path>
        </svg>
    </div>
    <fieldset>
        <legend>Producto</legend>
    </fieldset>
    <form class="text-center" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <div class="mb-3">
                <label class="form-label text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start">Tienda</label>
                <select class="form-control" asp-for="StoreVm.SName" id="mainStoreName" style="margin-bottom: 10px">
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <!-- Contents loaded here -->
                </select>
            </div>
            <div class="container" id="showAddStoreContainer">
                <div class="row">
                    <div class="col-md-7" style="margin-right: 0px;">
                        <label class="col-form-label">¿No encontró la tienda?&nbsp;</label>
                    </div>
                    <div class="col-md-5 d-xl-flex justify-content-xl-start align-items-xl-center">
                        <!-- Store trigger button -->
                        <button type="button" id="showAddStoreBtn" data-bs-toggle="modal" data-bs-target="#addStoreModal"
                                class="btn btn-primary d-xl-flex justify-content-xl-start btn-sm"
                                style="padding-right: 15px;margin-right: 93px;">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>

            <!-- Store Modal -->
            <div class="modal fade" id="addStoreModal" tabindex="-1" aria-labelledby="addStoreModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <!-- Your partial view content goes here, without the <form> tags -->
                            @Html.Partial("_AddStore", Model.StoreVm)
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="hideAddStoreBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="addStoreBtn" class="btn btn-primary">Agregar tienda</button>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="StoreVm.SName"></span>
        </div>

        <div class="mb-3">
            <div class="mb-3">
                <label class="form-label text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start">Producto</label>
                <select class="form-control" asp-for="ProductVm.Id" id="mainProductName" style="margin-bottom: 10px;">
                    <option value="" disabled selected hidden>Seleccionar</option>
                    <!-- Contents loaded here -->
                </select>
            </div>
            <div class="container" id="showAddProductContainer">
                <div class="row">
                    <div class="col-md-7">
                        <label class="col-form-label">¿No encontró el producto?&nbsp;</label>
                    </div>
                    <div class="col-md-5 d-xl-flex justify-content-xl-start align-items-xl-center">
                        <!-- Product trigger button -->
                        <button type="button" id="showAddProductBtn" data-bs-toggle="modal" data-bs-target="#addProductModal"
                                class="btn btn-primary d-xl-flex justify-content-xl-start btn-sm"
                                style="padding-right: 15px;margin-right: 93px;">
                            Agregar
                        </button>
                    </div>
                </div>
            </div>

            <!-- Product Modal -->
            <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <!-- Your partial view content goes here, without the <form> tags -->
                            @Html.Partial("_AddProduct", Model.ProductVm)
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="hideAddProductBtn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" id="addProductBtn" class="btn btn-primary">Agregar producto</button>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-danger field-validation-valid" asp-validation-for="ProductVm.Id"></span>
        </div>

        <div class="mb-3">
            <label class="form-label text-start text-sm-start text-md-start text-lg-start text-xl-start text-xxl-start d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start">Descripción</label>
            <textarea class="form-control" asp-for="SubmissionViewModel.Description" type="text" id="mainDescription" placeholder="Descripción" 
                        style="margin-bottom: 10px;"></textarea>
        </div>

        <div class="mb-3" style="margin-top: 15px;">
            <label class="form-label d-lg-flex d-xl-flex justify-content-lg-start justify-content-xl-start">Precio (₡)</label>
            <input class="form-control mb-2" asp-for="SubmissionViewModel.Price" type="text" placeholder="Precio">
            <span class="text-danger field-validation-valid" asp-validation-for="SubmissionViewModel.Price"></span>
        </div>
        <!-- placeholder for image submit -->
        <div class="row">
            <div class="col justify-content-xl-center align-items-xl-center" style="margin-right: 0px">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="1em"
                     height="1em"
                     fill="currentColor"
                     viewBox="0 0 16 16"
                     class="bi bi-image-fill text-center d-xl-flex justify-content-xl-center"
                     style="font-size: 33px;">
                    <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"
                          color="#0d6efd"></path>
                </svg>
            </div>
            <div class="col-md-10 col-xl-10"
                 style = "margin-left: 0px">
                <input class="form-control"
                       id="file"
                       name="file"
                       type="file"
                       multiple="multiple">    
                <small id="fileHelp" class="form-text text-muted">Tamaño máximo por imagen: 5MB</small>
                <div id="fileError" class="alert alert-danger" style="display: none;"></div>
                
            </div>
        </div>
        <div>
            <button type="submit" id="addSubmissionBtn"
                    class="btn btn-primary d-block w-100" style="margin-top: 32px;">
                Agregar registro
            </button>
        </div>
    </form>

</div>

@section Scripts {
    <script type="module" src="~/js/modal-manager.js"></script>
    <script type="module" src="~/js/create.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>
}