@page
@using Locompro.Common
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/css/ImageDisplay.css" asp-append-version="true"/>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
</p>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-xl-2 d-xl-flex justify-content-xl-center align-items-xl-center">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="1em"
                 height="1em"
                 fill="currentColor"
                 viewBox="0 0 16 16"
                 class="bi bi-image-fill text-center d-xl-flex justify-content-xl-center"
                 style="font-size: 33px;">
                <path d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z">
                </path>
            </svg>
        </div>
        <div class="col-md-6 col-xl-10">
            <input class="form-control"
                   id="file"
                   name="file"
                   type="file"
                   multiple="multiple">
        </div>
        <button>Upload</button>
    </div>
</form>

<div class="modal fade" id="imageModel" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 15px; padding-top: 5px; padding-bottom: 10px; padding-left: 8px; padding-right: 6px">
            <div class="modal-body">
                <div class="slideshow-container row" style="width: 416px; height: 300px; text-align: center;">
                    <a class="prev col"
                       style =""
                       onclick="plusSlides(-1)">&#10094;</a>
                    @foreach (Image image in Model.Images)
                    {
                        <div class = "col" style="width: 100%;">
                            <div class="mySlides"
                                 style="background-color: darkgray">
                                <div class="numbertext">1 / 3</div>
                                <img src="@ErrorModel.GetImageUrl(image)"
                                     style="max-height:300px; max-width:300px; width:auto; height:auto; transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%;"
                                     alt="image">
                            </div>
                        </div>
                    }
                    <a class="next col" onclick="plusSlides(1)">&#10095;</a>
                </div>
                
                <div style="text-align:center">
                    @for (int image = 1; image <= Model.Images.Count; image++)
                    {
                        <span class="dot" id="dot.@image" onclick="currentSlide(this)"></span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<button onclick="showPicture()">mostrar imagen</button>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>

@section Scripts {
    <script>
        function showPicture() {
            console.log("showPicture");
            var modalId = "#imageModel";
            $(modalId).modal('show');
        }
    </script>
    
    <script src="~/js/image-display.js"></script>
}