@page
@model Submissions.CreateModel

@await Component.InvokeAsync("AddStore", new { storeVM = Model.StoreVm })

@* <button id="openModalBtn">Add Store</button> *@
@* *@
@* <!-- Modal Container --> *@
@* <div id="modalContainer"></div> *@
@* *@
@* @section Scripts{ *@
@*     <script> *@
@*         document.addEventListener("DOMContentLoaded", function () { *@
@*             document.getElementById("openModalBtn").addEventListener("click", async function () { *@
@*                 // Properly form the URL with the handler name *@
@*                 const response = await fetch("/Submissions/Create?handler=CreateStore"); *@
@*                 if(response.ok) { *@
@*                     document.getElementById("modalContainer").innerHTML = await response.text(); *@
@*                 } else { *@
@*                     console.error('Failed to load modal'); *@
@*                 } *@
@*             }); *@
@*         }); *@
@*     </script>} *@