@page
@model Submissions.CreateModel

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Agregar contribución</title>
</head>
<body>
<form class="text-center" method="post">
    <label class="form-label d-lg-flex justify-content-lg-start">Tienda</label>
    <input class="form-control" asp-for="StoreVm.Name" id="mainStoreName">
    <span class="text-danger field-validation-valid" asp-validation-for="StoreVm.Name"></span>

    <button id="showAddStoreBtn" type="button">Show Add Store</button>

    <div id="addStoreDiv" style="display:none;">
        @Html.Partial("_AddStore", Model.StoreVm)
    </div>

    <button type="submit">Submit</button>
</form>
</body>

@section Scripts {
    <script>  
     $(document).ready(function() {
         // Show the partial view
         $("#showAddStoreBtn").click(function() {
             $("#addStoreDiv").show();
             // Re-enable editing of the main view input box
             $("#mainStoreName").prop("disabled", false);
         });
     
         // Hide the partial view and update main view
         $("#hideAddStoreBtn").click(function() {             
             let isValid = $("#partialStore").valid();
             
             if (isValid) {
                 // Copy the value from partial to main view
                 var partialStoreName = $("#partialStoreName").val();
                 $("#mainStoreName").val(partialStoreName);
         
                 // Disable editing of the main view input box
                 $("#mainStoreName").prop("disabled", true);
                 
                 // Hide the partial view
                 $("#addStoreDiv").hide();
             } else {
                 alert("finish ur form lmao")
             }
         });
     });
 </script>
}

</html>