@page
@model LoginModel

@{
    ViewData["Title"] = "Inicio de sesión";
}
<head>
    
    <link rel="stylesheet" href="../assets/css/Stats-icons.css">
</head>
<h1 class="text-center my-4">@ViewData["Title"]</h1>


<div class="row d-flex justify-content-center">
    <div class="col-md-6 col-xl-4">
        <div class="card mb-5">
            <div class="card-body d-flex flex-column align-items-center">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-fill" style="font-size: 40px;">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                    </svg>
                </div>
                <fieldset>
                    <legend style="margin-bottom: 22px;">Bienvenido de vuelta</legend>
                </fieldset>

                <form class="text-center" method="post">
                    <div class="mb-3">
                        <label class="form-label d-xl-flex justify-content-xl-start">Nombre de usuario</label>
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true"/>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-xl-flex justify-content-xl-start">Contraseña</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div>
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe" class="form-label">
                                    <input class="form-check-input" asp-for="Input.RememberMe"/>
                                    Recuérdame
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary d-block w-100">Iniciar sesión</button>

                    </div>

                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Olvido su contraseña</a>
                        </p>
                        <p>
                            <span class="msg">¿No tiene una cuenta aún?</span>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrese</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}