@model Locompro.Models.ViewModels.ShoppingListSummaryVm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @* Se accesan las propiedades del Vm directamente *@
    @Model.Stores
</div>
</body>
</html>