.button-rounded-top {
    border-top-left-radius: 20px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    border-bottom-left-radius: 0px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 0px; /* Rounded bottom-right corner */
}
